.meetVideoContainer {
  position: relative;
  height: 100vh;
  background-image: url(/videoMeetBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.meetUserVideo {
  position: absolute;
  bottom: 10vh;
  height: 25vh;
  width: auto;
  left: 0;
  border-radius: 20px;
}

.buttonContainers {
  position: absolute;
  width: 100vw;
  bottom: 0;
  align-items: center;
  cursor: pointer;
  text-align: center;
  gap: 4;
  padding: 4px 8px;
}

.buttonContainers svg {
  font-size: 3rem;
}


.conferenceView {
  display: flex;
  padding: 10px;
  gap: 10px;
  flex-grow: 1;
  height: 90vh;
  width: 100vw;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 40px;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.conferenceView video {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  background-color: rgb(237, 237, 218);
}

.chatRoom {
  position: absolute;
  height: 90vh;
  right: 0;
  background: #f4f7f9;
  border-radius: 12px;
  width: 25vw;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatTitle {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #1a1a1a;
}

.chattingDisplay {
  flex: 1;
  overflow-y: auto;
  padding-right: 5px;
  margin-bottom: 60px;
  /* space for input */
}

.chatBubble {
  background-color: white;
  border-radius: 8px;
  padding: 10px 12px;
  margin-bottom: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.sender {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.message {
  margin: 0;
  font-size: 14px;
  color: #444;
}

.noMessages {
  text-align: center;
  color: #fdf7f7;
  margin-top: 20px;
}

.chattingArea {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.sendButton {
  height: 56px;
}

/* styles.css */
